<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                {{ coursesCtrl.pageName }}
            </h1>
        </div>
    </div>
    <div class="row" restrict access="INSTRUCTOR">
        <div class="col-xs-6">
            <a ui-sref="app.courses.add_edit({courseId:'new'})"><button class="btn btn-primary">+ New Course</button></a>
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
                <button class="btn btn-default" ng-click="coursesCtrl.getAllCourses()">View All Courses</button>
            </div>
        </div>
    </div>
    <div class="row" restrict access="INSTRUCTOR">
        <div class="col-xs-12">
            <div class="alert alert-danger top-buffer" ng-if="coursesCtrl.error">
                {{ coursesCtrl.error }}
            </div>
            <div class="alert alert-success top-buffer" ng-if="coursesCtrl.created_updated" >
                <strong>Success!</strong> Created/Updated the course!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
            <thead>
                <tr>
                <th>Name</th>
                <th>Subject Code</th>
                <th>Course Code</th>
                <th restrict access="INSTRUCTOR">Action</th>
                <th restrict access="INSTRUCTOR"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="course in coursesCtrl.courses | orderBy:'-openTimestamp'">
                    <td><a ui-sref="app.course.assignments({courseId:'{{course.id}}'})"> {{  course.courseTitle }} </a></td>
                    <td> {{ course.subjectCode }} </td>
                    <td> {{ course.courseCode }} </td>
                    <td restrict access="INSTRUCTOR"><a ui-sref="app.courses.add_edit({courseId:'{{course.id}}'})">
                        <button type="button" class="btn btn-xs btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        </a></td>
                    <td restrict access="INSTRUCTOR">
                        <button type="button" class="btn btn-xs btn-warning"
                        ng-click="coursesCtrl.dropCourse(course)">
                          <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
            </table>

        </div>
    </div>
</div>
