<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                {{ adminCtrl.pageName }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a ui-sref="app.admin.add_edit({email:'new'})"><button class="btn btn-primary">+ New User</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-success top-buffer" ng-if="adminCtrl.created_updated">
                <strong>Success!</strong> Created/Updated a new user!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in adminCtrl.users track by $index">
                        <td> {{ user.firstName }} </td>
                        <td> {{ user.lastName }} </td>
                        <td> {{ user.email }} </td>
                        <td> {{ user.appRoles[0] }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
