<nav>
    <div class="navWrapper">
        <div class="logo">
            <img src="assets/logo.png">
        </div>
        <ul>
            <li ng-repeat="link in navigationLinks">
                <a ui-sref="{{ link.state }}" >
                    <div class="navLiWrapper">
                        <div class="navIcon">
                            <span class="{{ link.icon }}" aria-hidden="true"></span>
                        </div>
                        <div class="navText">
                            {{ link.name }}
                        </div>
                    </div>
                </a>
            </li>
            <li ng-click="logout()">
                <div class="navLiWrapper">
                    <div class="navIcon">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </div>
                    <div class="navText">
                        Logout
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
