<div class="childNavWrapper">
    <div class="logo" style="visibility:hidden">
            <img src="assets/logo.png">
    </div>
    <ul>
        <li ng-repeat="link in navigationLinks">
            <a ui-sref="{{ link.state }}" >
                <div class="navLiWrapper">
                    <div class="navIcon">
                        <span class="{{ link.icon }}" aria-hidden="true"></span>
                    </div>
                    <div class="navText">
                        {{ link.name }}
                    </div>
                </div>
            </a>
        </li>
    </ul>

</div>
