 <fieldset class="form-group">
    <legend>{{ field.humanReadableText }}</legend>
    <div class="alert alert-success" ng-if="uploaded" >
        <strong>Success!</strong> Upload Complete! Please save your progress!
    </div>
    <div class="alert alert-danger" ng-if="error">
        <strong>Sorry!</strong> There was a problem uploading.
    </div>
    <div class="form-group">
        <label for="file" >Select File</label>
        <input type="file"
                ngf-select
                ng-model="imageFile"
                accept="image/*"
                ngf-model-invalid="errorFile"
                required >
        <p class="help-block">.PNG, .JPG</p>
    </div>
    <button type="button" class="btn btn-primary"
            ng-click="uploadImage(imageFile)"
            ng-disabled="!imageFile"
            >Upload</button>
</fieldset>
<div class="row" ng-if="model.answer">
    <div class="col-xs-6 col-sm-4">
        <a ng-href="{{ model.answer }}" class="thumbnail" target="_blank">
            <img ng-src="{{ model.answer }}" >
        </a>
    </div>
</div>
