<div class="container-fluid">
    <div id="login-container">
        <div id="login" class="well">
            <div class="alert alert-danger" ng-show="login.error">
                There was a problem logging in. Please try again.
            </div>
            <div class="alert alert-danger" ng-if="login.sessionExpired">
                Please login again!
            </div>
            <form role="form" ng-submit="login.login()">
                <div class="form-group">
                    <label for="username">Username:</label> <input type="text"
                        class="form-control" id="username" name="username" ng-model="login.credentials.username"/>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label> <input type="password"
                        class="form-control" id="password" name="password" ng-model="login.credentials.password"/>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
