<h2>{{ courseAssignments.pageName }}</h2>

<table class="table table-hover">
<thead>
    <tr>
    <th>Name</th>
    <th>Due Date</th>
    <th>Max Students</th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="assignment in courseAssignments.assignments">
        <td><a ui-sref="app.course.assignment({moduleId:'{{ assignment.id }}'})">{{ assignment.moduleTitle }}</a> </td>
        <td> {{ assignment.dueDate | date }} </td>
        <td> {{ assignment.maxStudents }} </td>
    </tr>
</tbody>
</table>




