<h2>Teacher</h2>
<div class="row">
    <div class="co-xs-6 col-sm-8">
        <section ng-repeat="course in courses">
            <h2>{{course.subject}} {{course.course_number}}</h2>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#">Add Assignment</a></li>
                <li><a href="#">View Assignments</a></li>
                <li><a href="#">View Grades</a></li>
            </ul>
        </section>
    </div>
    <div class="col-xs-6 col-sm-4">
        <h2>Updates</h2>

    </div>
</div>
